<h1>Private chat with</h1>

<ul>
  <li *ngFor="let user of (users$ | async)">
    <button (click)="privateChat(user.username)" class="user">{{ user.username }}</button>
  </li>
</ul>

<h1>Or create a chat group</h1>

<div>Name of the group</div>
<input (ngModelChange)="updateName($event)" [ngModel]="name" type="text">

<br>

<button (click)="people.push('')">Add guy</button>
<div *ngFor="let p of people">
  <app-user-selector (changed)="update(p, $event)" [value]="p"></app-user-selector>
  <a (click)="delete(p)" *ngIf="people.length > 2">delete</a>
</div>

<button (click)="createGroup()">Create</button>
