* {
  font-family: "Noto Sans";
}

.bar {
  display: flex;
  background-color: #e6e9ef;
  height: 48px;
  width: 100vw;
  align-items: center;
  margin-bottom: 25px;
  z-index: 9999999999999999;
  padding-left: 15px;
}

.bar > a {
  padding: 10px;
  margin-right: 20px;
  color: #6c6f85;
}

.bar > a:hover {
  color: #4c4f69;
}
